django ~= 3.2
django-crispy-forms ~=1.12
django-qr-code ~=2.2
git+https://github.com/DieMotivierten/django_microsoft_auth.git@07bfc7faaf9be34e7c5dbf9652da29cbd6a94e3f
whitenoise ~= 5.2
django-environ ~= 0.4