{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Meetings -
{% endblock title %}

{% block content %}

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for meeting in meetings %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                     <div class="card-body">
                        <h5 class="card-title">{{meeting.name}}</h5>
                         <p class="card-text">
                             {{meeting.category}}<br>
                             {{meeting.date}}<br>
                             {{meeting.begin}} - {{meeting.end}}
                         </p>
                         {% if user_is_admin %}
                            <a href="{% url "meeting_details" meeting.id %}" class="btn btn-primary small">Details</a>
                         {% endif %}
                         {% if meeting.allow_excuse %}
                             <form method="post">
                             {% csrf_token %}
                                 <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                 {% if not meeting.excused %}
                                     <button type="submit" class="btn btn-danger" formaction="/excuse/excuse">Absagen
                                     </button>
                                 {% else %}
                                     <button type="submit" class="btn btn-primary" formaction="/excuse/unexcuse">
                                         Zusagen
                                     </button>
                                 {% endif %}
                             </form>
                         {% endif %}
                     </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock content %}