{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
Meetings -
{% endblock title %}

{% block content %}

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for meeting in meetings %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                     <div class="card-body">
                        <h5 class="card-title">{{meeting.name}}</h5>
                         <p class="card-text">
                             {{meeting.category}}<br>
                             {{meeting.date}}<br>
                             {{meeting.begin}} - {{meeting.end}}
                         </p>
                         {% if user_is_admin %}
                            <a href="{% url "meeting_details" meeting.id %}" class="btn btn-primary small">Details</a>
                         {% endif %}
                     </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock content %}