{% extends 'base.html' %}
{% load qr_code %}
{% load meetup_extras %}



{% block title %}
{{ meeting.name }} - Details,
{% endblock title %}

{% block content %}
    <div class="container my-5" >

        <div class="card text-center">
            <div class="card-header">
                 <h4> QR Code für das Treffen: {{meeting.name}}</h4>
            </div>
            {% abs_url 'meeting_checkin' meeting.presence_registration_uuid as checkin_url %}

            <code class="card-img-top" >{% qr_from_text checkin_url size="L" image_format="svg" %}</code>
             <div class="card-body">
                 <p class="card-text">
                     {{meeting.category}}<br>
                     {{meeting.date}}<br>
                     {{meeting.begin}} - {{meeting.end}}
                 </p>
             </div>
        </div>
        <div class=" my-5 text-center">
            <a style="width: 35%" href="{% url "index"%}" class="btn btn-sm btn-info ">Zurück</a>
        </div>
</div>


{% endblock content %}